In [87]:
import pandas as pd
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'sqlalchemy'

In [2]:
liga18 = pd.read_csv('data-18/SP1.csv', engine="python")

In [3]:
liga17 = pd.read_csv('data-17/SP1.csv', engine="python")

In [4]:
liga16 = pd.read_csv('data-16/SP1.csv', engine="python")

In [5]:
liga15 = pd.read_csv('data-15/SP1.csv', engine="python")

In [6]:
liga14 = pd.read_csv('data-14/SP1.csv', engine="python")

In [7]:
liga13 = pd.read_csv('data-13/SP1.csv', engine="python")

In [8]:
liga12 = pd.read_csv('data-12/SP1.csv', engine="python")

In [9]:
liga11 = pd.read_csv('data-11/SP1.csv', engine="python")

In [10]:
liga10 = pd.read_csv('data-10/SP1.csv', engine="python")

In [11]:
liga09 = pd.read_csv('data-09/SP1.csv', engine="python")

In [12]:
liga08 = pd.read_csv('data-08/SP1.csv', engine="python")

In [13]:
liga07 = pd.read_csv('data-07/SP1.csv', engine="python")

In [14]:
liga06 = pd.read_csv('data-06/SP1.csv', engine="python")

In [15]:
liga05 = pd.read_csv('data-05/SP1.csv', engine="python")

In [ ]:
def liga_05():
    Real_Madrid_CF = 283.750.000 mill. €
    FC Barcelona 	275.230.000 mill. €
    Valencia CF	210.900.000 mill. €
    RC Deportivo de La Coruña	118,70 mill. €
    Atlético de Madrid	113,70 mill. €
    Real Betis Balompié 	78,10 mill. €
    Sevilla FC	73,25 mill. €
    Villarreal CF	70,00 mill. €
    RCD Espanyol	55,50 mill. €
    Real Zaragoza	52,75 mill. €
    Real Sociedad	46,25 mill. €
    RCD Mallorca	39,90 mill. €
    Athletic Club	38,70 mill. €
    Celta de Vigo	36,35 mill. €
    CA Osasuna	24,00 mill. €
    Racing de Santander	22,85 mill. €
    Málaga CF	21,10 mill. €
    Deportivo Alavés  	20,95 mill. €
    Getafe CF	15,95 mill. €
    Cádiz CF  	1,65 mill. €

In [84]:
liga05['Home_Value'] = [283750000 if x == 'Real Madrid' for x in df['HomeTeam']]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,SP1,27/08/05,Alaves,Barcelona,0,0,D,0,0,D,...,1.94,1.78,2.05,1.92,21,1.25,1.92,1.84,2.10,2.02
1,SP1,27/08/05,Ath Bilbao,Sociedad,3,0,H,0,0,D,...,1.95,1.85,2.00,1.84,20,-0.50,2.04,1.96,1.95,1.87
2,SP1,27/08/05,Valencia,Betis,1,0,H,0,0,D,...,2.13,1.99,1.85,1.72,23,-0.50,2.10,2.04,1.85,1.81
3,SP1,28/08/05,Ath Madrid,Zaragoza,0,0,D,0,0,D,...,2.12,1.97,1.82,1.74,18,-0.75,1.92,1.88,2.05,1.98
4,SP1,28/08/05,Cadiz,Real Madrid,1,2,A,0,1,A,...,1.88,1.70,2.15,1.98,20,1.25,1.92,1.85,2.08,2.00

In [16]:
#liga04 = pd.read_csv('data-04/SP1.csv', error_bad_lines=False)

In [17]:
liga03 = pd.read_csv('data-03/SP1.csv', engine="python")

In [18]:
liga02 = pd.read_csv('data-02/SP1.csv', engine="python")

In [19]:
liga01 = pd.read_csv('data-01/SP1.csv', engine="python")

In [20]:
liga00 = pd.read_csv('data-00/SP1.csv', engine="python")

In [ ]:
liga03.drop(columns=['Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'])

In [74]:
liga05_n = liga05[['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga06_n = liga06[['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga07_n = liga07[['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga08_n = liga08[['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga09_n = liga09[['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga10_n = liga10[['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga11_n = liga11[['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga12_n = liga12[['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga13_n = liga13[['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga14_n = liga14[['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga15_n = liga15[['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga16_n = liga16[['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga17_n = liga17[['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga18_n = liga18[['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]

In [75]:
ligas05_18 = [liga05_n, liga06_n, liga07_n, liga08_n, liga09_n, liga10_n, liga11_n, liga12_n, liga13_n, liga14_n, liga15_n, liga16_n, liga17_n, liga18_n]

big_liga = pd.concat(ligas05_18)

In [76]:
big_liga.dropna(inplace=True)

In [86]:
big_liga.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5209 entries, 0 to 379
Data columns (total 19 columns):
HomeTeam    5209 non-null object
AwayTeam    5209 non-null object
B365H       5209 non-null float64
B365D       5209 non-null float64
B365A       5209 non-null float64
BWH         5209 non-null float64
BWD         5209 non-null float64
BWA         5209 non-null float64
IWH         5209 non-null float64
IWD         5209 non-null float64
IWA         5209 non-null float64
VCH         5209 non-null float64
VCD         5209 non-null float64
VCA         5209 non-null float64
WHH         5209 non-null float64
WHD         5209 non-null float64
WHA         5209 non-null float64
HTR         5209 non-null object
FTR         5209 non-null object
dtypes: float64(15), object(4)
memory usage: 813.9+ KB